@import 'src/styles/_base.scss';

.iconButton {
  border: 1px solid $grey-light;
  z-index: $popover;
  box-shadow: $shadow-small-hover;
  color: $text-default;
  background-color: $info;
  padding: 8px;
  display: flex;
  cursor: pointer;
}

.circle {
  border-radius: 100%;
}

.square {
  border-radius: 8px;
}