@use '../../styles/_base.module.scss' as *;

.iconButton {
  border: 1px solid $grey-light;
  z-index: $popover;
  box-shadow: $shadow-small-hover;
  color: $text-default;
  padding: 8px;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.primary {
  background-color: $info;
}

.none {
  background-color: $grey-dark;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.label {
  margin-right: 8px;
}

.circle {
  border-radius: 100%;
}

.square {
  border-radius: 8px;
}
