$white: #ffffff;

$main-ui: #ede275;

$text-default: #414141;

$text-inactive: #b8b8b8;

$grey-light: #fbfbfb;

$grey-dark: #eaeaea91;

$shadow-small: 0px 0px 4px -2px $text-default;

$shadow-small-hover: 0px 0px 4px 2px $text-inactive;
