$font-big: 26px;
$font-lg: 20px;
$font-normal: 18px;
$font-med: 16px;
$font-small: 14px;
$font-xs: 12px;
$font-tiny: 8px;

:export {
  fontBig: $font-big;
  fontLg: $font-lg;
  fontSmall: $font-small;
  fontXs: $font-xs;
  fontNormal: $font-normal;
  fontTiny: $font-tiny;
}
