@import 'src/styles/_base.scss';

.container {
  max-width: 800px;
  margin: auto;
  box-shadow: $shadow-small;
}

.menu {
  display: flex;
  flex-direction: column;
}

.content {
  padding: 16px 32px;
  background-color: $grey-light;
}

.item {
  padding: 10px 0;
  text-decoration: none;
  color: $text-inactive;
  font-size: $font-lg;
  font-weight: bold;
  &:hover {
    color: $text-default;
  }
}

.activeItem {
  color: $text-default;
}

.submenu {
  padding-left: 12px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 945px) {
  .content {
    padding: 22px 54px;
  }
}
