@import 'src/styles/_base.scss';

$card-width: 200px;
$card-radius: 16px;

.gitLink {
  margin-left: 8px;
  img {
    width: 32px;
    height: 32px;
  }
}

.container {
  padding: 48px 30px;
  text-align: center;
  background-color: $grey-light;
  color: $text-default;
  h3 {
    max-width: 660px;
    margin: 0 auto 24px;
  }
}

.questionaire {
  margin-top: 68px;
}

.question {
  margin-bottom: 80px;
  > div {
    padding-left: 16px;
  }
}

.result {
  padding: 12px 42px;
  background-color: #f0f0ff;
  text-align: center;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  .text {
    line-height: 22px;
    padding: 8px;
    border-bottom: 1px solid $grey;
  }
  .level {
    padding: 8px;
    font-size: $font-big;
    font-weight: bold;
  }
  .score {
    font-weight: bold;
  }
  .high {
    color: $yes;
  }
  .low {
    color: $no;
  }
  .normal {
    color: $text-default;
  }
}

.chartContainer {
  display: flex;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.toolArea {
  display: flex;
  width: 100%;
  margin-bottom: 28px;
  justify-content: space-between;
}

.select {
  margin-top: 24px;
  margin-right: 28px;
  width: 100%;
}

.title {
  font-style: italic;
  width: 94px;
  font-size: $font-med;
}

.creditsBtn {
  position: fixed;
  right: 1%;
  top: 1%;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  color: $white;
  background-color: $dark-pink;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media (max-width: 600px) {
  .question {
    > div {
      padding-left: 0;
    }
  }
}
