@import 'src/styles/_base.scss';

$card-width: 200px;
$card-radius: 16px;

.gitLink {
  margin-left: 8px;
  img {
    width: 32px;
    height: 32px;
  }
}

.container {
  padding: 48px 24px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  background-color: $grey-light;
  color: $text-default;
  h3 {
    max-width: 660px;
    margin: 0 auto 24px;
  }
}

.chartContainer {
  display: flex;
}


.currentButton {
  background-color: #7a7a7a;
  &:hover {
    background-color: #414141;
  }
}

.currentActive {
  background-color: #414141;
}


.idealButton {
  background-color: #7753fd;

  &:hover {
    background-color: #381d9d;
  }
}

.idealActive {
  background-color: #381d9d;
}

.title {
  font-family: 'Nunito';
  font-style: italic;
}