@use '../../styles/_base.module.scss' as *;

.popover {
  border-radius: 8px;
  padding: 12px;
  min-height: 50px;
  width: 260px;
  z-index: $popover;
  color: $text-default;
  font-weight: bold;
  box-shadow: $shadow-small-hover;
  border: 1px solid $grey-light;
  margin: 6px;
  background-color: $info;
  background-color: $grey-dark;
}

.topLeftColor {
  background-color: $info;
}

.topRightColor {
  background-color: $grey-dark;
}

.bottomRightColor {
  background-color: #fff0cf;
}

.topLeft {
  position: fixed;
  left: 1%;
  top: 1%;
}

.topRight {
  position: fixed;
  right: 1%;
  top: 8%;
}

.bottomLeft {
  position: fixed;
  left: 1%;
  bottom: 1%;
}

.bottomRight {
  position: fixed;
  right: 1%;
  bottom: 1%;
}

.title {
  font-size: 22px;
}
.header {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  font-size: $font-med;
  margin-top: 12px;
  li {
    margin-bottom: 8px;
  }
}

.closeButton {
  transition: transform 0.5s ease;
  color: $cancel;
  transform: rotate(90deg);
  position: absolute;
  cursor: pointer;
  top: -4px;
  right: 0;
}

.fullScreen {
  width: 100%;
}
