@import 'src/styles/_base.scss';

.content {
  display: flex;
  flex-direction: column;
}

.send {
  align-self: end;
  margin-top: 8px;
}

.success {
  display: flex;
  align-items: center;
  flex-direction: column;
  > svg {
    margin-bottom: 8px;
  }
}
