@import 'src/styles/_base.scss';

.dropdown-container {
  margin: 0 auto;
  position: relative;
  max-width: 220px;
  width: 100%;
}

.dropdown-toggle {
  color: $text-default;

  position: relative;
  background-color: $white;
  font-size: 17px;
  padding: 16px 40px 16px 16px;
  border: 1px solid $main-ui;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: space-between;

  &:hover,
  &:active,
  &:focus {
    background-color: $main-ui;
    color: $text-default;
  }
}

.dropdown-menu {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
  margin-top: 17px;
  position: absolute;
  left: 0;
  top: 100%;
  display: none;
  background-color: $white;
  z-index: 10;
}

.dropdown-menu-content {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  border-radius: 10px;
  z-index: 10;
}

.dropdown-menu-label {
  white-space: nowrap;
  margin-right: 10px;
}

.dropdown-menu-item {
  display: block;
  color: $text-default;
  font-size: 15px;
  padding: 16px 20px;
  font-weight: 600;
  box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
  transition: all ease-in-out 0.3s;

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    background-color: $main-ui;
    color: $text-default;
  }
}

.dropdown-open .dropdown-menu {
  display: block;
}

.dropdown-menu,
.dropdown-toggle {
  &::before {
    content: '';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    border: 5px solid;
    border-top-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    margin-top: -2.5px;
    background-color: rgba(0, 0, 0, 0);
    transition: all ease-in-out 0.2s;
  }
}

.dropdown-menu {
  z-index: 10;

  &::before {
    z-index: -1;
    transform: rotate(-135deg);
    top: -4px;
    border-color: $white;
    box-shadow: 1px 1px 4px -2px rgba(0, 0, 0, 0.4);
  }
}

.dropdown-open .dropdown-toggle {
  background-color: $main-ui;
  color: $text-default;

  &:before {
    transform: rotate(-135deg);
  }
}
