@use '../../styles/_base.module.scss' as *;

.loaderContainer {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loaderText {
  color: $secondary;
  font-weight: bold;
}
.loaderCircle {
  display: inline-block;
  transform: translateZ(1px);
}
.loaderCircle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: $secondary;
  animation: loaderCircle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes loaderCircle {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
