@import 'src/styles/_base.scss';

$card-width: 230px;
$card-radius: 16px;

.activityCards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 840px;
  margin: auto;
  margin-top: 48px;
}
.card {
  box-shadow: $shadow-small;
  border-radius: $card-radius;
  background-color: white;
  max-width: $card-width;
  margin: 24px;
  display: block;
  text-decoration: none;
  color: black;
  img {
    max-width: $card-width;
    max-height: 175px;
    border-top-left-radius: $card-radius;
    border-top-right-radius: $card-radius;
    border-bottom: 1px solid $grey-dark;
  }
  &:hover {
    box-shadow: $shadow-small-hover;
  }
}

.title {
  font-size: $font-normal;
  padding: 16px;
}

.description {
  font-size: $font-small;
  border-top: 1px solid $grey-dark;
  text-align: justify;
  padding: 16px;
}

@media (max-width: 600px) {
  .activityCards {
    margin-top: 0;
  }
  .card {
    max-width: none;
    margin: 24px;
    text-decoration: none;
    color: black;
    padding-bottom: 0;
    img {
      max-width: $card-width;
      max-height: none;
      border-top-right-radius: 0;
      border-top-left-radius: $card-radius;
    }
    .header {
      display: flex;
      align-items: center;
    }
    .title {
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  h3 {
    font-size: $font-lg;
  }
  .card {
    img {
      max-width: 125px;
    }
  }
  .title {
    font-size: $font-small;
  }
  .description {
    font-size: $font-xs;
  }
}
