@import 'src/styles/_base.scss';

.button {
  padding: 12px;
  border-radius: 12px;
  border: 2px solid $grey-dark;
  font-weight: bold;
  width: 110px;
  cursor: pointer;
}

.fullWidth {
  width: 100%;
}

.lg {
  font-size: $font-lg;
}

.sm {
  font-size: $font-small;
}

.primary {
  color: white;
  background-color: $primary;
  &:hover {
    background-color: $primary-darker;
  }
}

.secondary {
  color: $white;
  background-color: $secondary;
  &:hover {
    background-color: $secondary-darker;
  }
}

.alert {
  color: white;
  background-color: $no;
  &:hover {
    background-color: $no-darker;
  }
}

.disabled {
  background-color: $grey;
  cursor: not-allowed;
  &:hover {
    background-color: $grey;
  }
}
