@use '../../styles/_base.module.scss' as *;

.divider {
  border-bottom: 1px solid $grey;
}

.modal {
  color: $text-default;
  border-radius: 6px;
  padding: 2rem;
  h2 {
    margin-top: 0;
  }
}

.fullScreen {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

.body {
  margin-top: 16px;
}
