@import 'src/styles/_base.scss';

$card-padding: 12px;

.card {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  padding: $card-padding $card-padding 0;
  color: white;
  font-weight: bold;
  margin: 6px;
  &:hover {
    box-shadow: $shadow-small-hover;
    cursor: pointer;
  }
}

.cardInner {
  display: flex;
}

.name {
  font-size: $font-big;
}
.header {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image {
  width: 124px;
  margin-right: 16px;
  border-radius: 4px;
}
.description {
  font-size: $font-small;
  margin-top: 12px;
}

.collapseButton {
  transition: transform 0.5s ease;
  position: absolute;
  top: -4px;
  right: 0;
}

.open {
  transform: rotate(180deg);
}

.content {
  transition: max-height 0.2s ease;
  max-height: 500px;
  overflow: hidden;
  font-size: $font-normal;
  padding: $card-padding 0;
  color: $text-default;
}

.list {
  background-color: white;
  margin: 0;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-right: 12px;
  border-radius: 4px;
}

.hidden {
  padding-bottom: 0;
  max-height: 0;
}

.example {
  margin: 12px 0;
}

.selections {
  background-color: $grey-dark;
  border-left: 1px solid $text-inactive;
  padding: 10px;
  color: $text-default;
  position: absolute;
  right: 0;
  display: flex;
  top: 0;
  bottom: 0;
  flex-direction: column;
  > div:not(:last-child) {
    border-bottom: 1px solid $text-inactive;
  }
}

.selection {
  padding: 6px;
}

@media (max-width: 768px) {
  .name {
    font-size: $font-lg;
  }

  .description {
    font-size: $font-xs;
  }

  .content {
    font-size: $font-small;
  }

  .selections {
    font-size: $font-small;
  }
  .image {
    width: 82px;
  }
}
